select{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

body{
    font-family: Arial,Helvetica,sans-serif;
}

.capas{
    border: 1px solid #000;
    display: inline-block;
    width: 600px;
    vertical-align: top;
    height: 500px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 2px;
    padding: 5px;
}

footer{
    background-color: rgb(240 240 240);
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    padding: 4rem;
}


h1.title{
    color: rgb(10,35,68);
    letter-spacing: 0em;
    font: italic normal normal 30px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
}

nav{
    background-color: rgb(10,35,68);
}

nav.li.nav-item{
    color: black;
}

h5.card-title{
    background-color: #5093db;
    color: white;
    text-align: center;
}

p.view-text{
    font-size: 21px;
    color: black;
}

.filter-section{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2000;
    align-content: start;
    overflow: overlay;
    transition: right 0.3s;
}

.filter-title{
    margin-left: 1rem;
    color: gray;
    padding: 10px;
}

.fa-angle-down{
    width: 1.28571429em;
    text-align: center;
}

ul.filter-option{
    margin-left: 1rem;
    color: gray;
    cursor: pointer;
    padding: 10px;
}

ul.filter-option li {
    list-style: none;
}

ul.filter-option li.float {
    float: right;
    margin-top: 18px;
    margin-inline: 30px;
    margin-bottom: 10px;
}

ul.filter-option li a {
    display: block;
    padding: 10px;
    color: rgb(185, 184, 184);
    text-decoration: none;
}

ul.filter-option li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}

ul.filter-option li li a {
    padding: 15px 25px 15px 25px;
    color: rgb(56, 51, 51);
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

ul.filter-option li li:last-child a {
    border-bottom: 0;
}


ul.filter-option li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
    border: 1px solid #ccc;
}

p.img-center {
    text-align: center;
}