{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container p-2 my-3 text-center" >
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="col-md-9 mx-auto mb-5 mt-5">
        {% if 'success' in request.GET %}
          <p style="color:green">Usuario registrado exitosamente.</p>
        {% endif %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Iniciar sesión</h3>
            {% if form.non_field_errors %}
              <p style="color:red">Usuario o contraseña incorrectos, intente de nuevo.</p>
            {% endif %}
            <p>
              <input type="text" name="username" autofocus maxlength="254" required
                id="id_username" class="form-control" placeholder="Nombre de usuario"/>
            </p>
            <div class="input-group">
                 <input type="password" name="password" required id="id_password" class="form-control" placeholder="Contraseña"/>
              <div class="input-group-append">
                <button id="show_password" class="btn btn-secondary mb-3" type="button" onclick="mostrarPassword()">
                  <span class="fa fa-eye-slash icon"></span> 
                </button>
              </div>
            </div>
            </p>
            <p>¿Ha olvidado su contraseña? Puede recuperarlo <a href="{% url 'password_reset' %}">aquí</a></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Acceder">
            </p>
            <p>¿Todavía no tienes una cuenta? <a href="{% url 'signup' %}"> Registrate</a></p>
          </form>       
        </div>
      </div>
    </div>  
  </div>
</main>
{% endblock %}