{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
<main role="main">
  <div class="container p-2 my-3">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="col-md-9 mx-auto mb-5 mt-5">
            <h3 class="mb-4 text-center">Restablecimiento de contraseña completado  </h3>
            <p>Su contraseña ha sido establecida. Ahora puede iniciar sesión.</p>
            <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
          </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}