{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<script src="{% static 'core/js/checkbox.js' %}"></script>
<main role="main">
  <div class="container p-2 my-3">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="col-md-9 mx-auto mb-5 mt-5">
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4 text-center">Registrarse</h3>      
            <p for="{{form2.name.id_for_label}}"><b>{{form2.name.label}}</b></p>
            {{form2.name}}
            <p for="{{form2.last_name.id_for_label}}"><b>{{form2.last_name.label}}</b></p>
            {{form2.last_name}}
            <p for="{{form2.birthday.id_for_label}}"><b>{{form2.birthday.label}}</b></p>
            {{form2.birthday}}
            <p for="{{form2.phone.id_for_label}}"><b>{{form2.phone.label}}</b></p>
            {{form2.phone}}
            <p for="{{form2.sexe.id_for_label}}"><b>{{form2.sexe.label}}</b></p>
            {{form2.sexe}}
            <p for="{{form2.country.id_for_label}}"><b>{{form2.country.label}}</b></p>
            {{form2.country}}
            <p for="{{form2.departament.id_for_label}}"><b>{{form2.departament.label}}</b></p>
            {{form2.departament}}
            <p for="{{form2.city.id_for_label}}"><b>{{form2.city.label}}</b></p>
            {{form2.city}}
            <p for="{{form2.direction.id_for_label}}"><b>{{form2.direction.label}}</b></p>
            {{form2.direction}}
            <p for="{{form.username.id_for_label}}"><b>{{form.username.label}}</b></p>
            {{form.username}}
            {{form.username.errors}}
            <p for="{{form.email.id_for_label}}"><b>Correo</b></p>
            {{form.email}}
            {{form.email.errors}}
            <p for="{{form.password1.id_for_label}}"><b>Contraseña</b></p>
            {{form.password1}}
            {{form.password1.errors}}
            <p for="{{form.password2.id_for_label}}"><b>Confirmar la contraseña</b></p>
            {{form.password2}} 
            {{form.password2.errors}}
            <p class="text-info">Para concluir el Registro de Usuario favor leer los Términos y Condiciones.</p>
            <input style="opacity:1;" type="checkbox" data-required="1" name="terminos" id="terminos"> 
            Aceptar los <a style="color:blue;" href="{% url 'terms' %}">Términos y Condiciones</a><br><br>
            <p><input type="submit" class="btn btn-success btn-block" value="Registrarse" name="btn_registrarse" id="btn_registrarse" disabled="disabled"></p>
            <p class="text-center">¿Ya tienes una cuenta? <a style="color:blue;" href="{% url 'login' %}"> Iniciar Sesión</a></p>  
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}