{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<script src="{% static 'core/js/checkbox.js' %}"></script>
<main role="main">
  <div class="container p-2 my-3">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="col-md-9 mx-auto mb-5 mt-5">
           <p>PRUEBA DE TÉRMINOS Y CONDICIONES</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}