{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/lupa.jpg' %}{% endblock %}

{% block headers %}

{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title" style="text-align: center; margin-top: 5px;">Últimos Reportes</h1>
        <div class="row"> 
           {% for report in reports %}
            <div class="card" style="width: 18rem; margin: 20px; margin-bottom: 10px;">
                {% if report.image %}
                    <img class="img-fluid" src="{{report.image}}" alt="Card image cap">
                {% else %}
                    <img class="img-fluid" src="{% static 'core/img/img-reporte.png' %}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">Reporte - {{report.type_report}}</h5>
                  <p class="card-text">{{report.description}}</p>
                  <h6><b>Autor:</b> {{report.user.username}}</h6>
                  <a href="#" class="btn btn-primary btn-block">Ver Reporte</a>
                </div>
            </div>
          {% endfor %}
    </div>
</div>

{% endblock %}