{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block background %}{% load static %}{% static 'core/img/lupa.jpg' %}{% endblock %}

{% block headers %}
    
{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <h3 {% if user.is_authenticated %}>Bienvenido/a {{ user.get_username }}{% endif %}</h3> 
    <div id="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>    
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div id="container-pie"></div>
            </div>    
        </div>
        <br>
    </div>

    
<script type="text/javascript">
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reportes del año actual por Tipo de Reporte'
        },
        xAxis: {
            categories: [
                'Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Diciembre'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Valores'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Encontrado',
            data: {{ report_found_year_month|safe }}

        }, {
            name: 'Extraviado',
            data: {{ report_lost_year_month|safe }}
        }]
    });

    Highcharts.chart('container-pie', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Reportes del mes actual por Categoría'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{ 
                name: 'Valores',
                colorByPoint: true,
                data: {{ report_for_category|safe }}
        }]
    });

    </script>
{% endblock %}
