{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Registro{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1 style="text-align: center;">Registro</h1>
{% endblock %}
{% block content %}
<div class="col-11 text-right">
  <a href="{% url 'registers:registers' %}"><button type="button" class="btn btn-primary" ><i class="fa fa-fw fa-angle-double-left "></i> Regresar</button></a>
</div>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style="color:green;"> Se ha actualizado correctamente.</p>
          {% endif %} 
          <form action="" method="post">{% csrf_token %}
            <p for="{{form.sub_category.id_for_label}}" class="mb-2 mt-2"><b>{{form.sub_category.label}}</b></p>
            {{form.sub_category}}
            <p for="{{form.description.id_for_label}}" class="mb-2 mt-2"><b>{{form.description.label}}</b></p>
            {{form.description}}
            <input type="submit" class="btn btn-primary btn-block mb-2 mt-2" value="Actualizar" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}