{% extends 'core/base.html' %}
{% load static %}
{% block title %}Eliminar Registro{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1 style="text-align: center;">Registro</h1>
{% endblock %}
{% block content %}
{% comment %} {% include 'registers/includes/register_menu.html'%} {% endcomment %}
<div class="col-11 text-right">
  <a href="{% url 'registers:registers' %}"><button type="button" class="btn btn-primary" ><i class="fa fa-fw fa-angle-double-left "></i> Regresar</button></a>
</div>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>¿Está seguro de que desea eliminar "{{ object }}"?</p>
                <input type="submit" class="btn btn-primary btn-block mb-2 mt-2" value="Sí, eliminar el Registro" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}