{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Registro{% endblock %}

{% block headers %}
  <h2 style="text-align: center;">Registros</h2>
{% endblock %}
{% block content %}
{% comment %} {% include 'registers/includes/register_menu.html'%} {% endcomment %}
<main role="main">
  <div class="container">
    <div class="col-md-10 mx-auto text-right">
      <a href="{% url 'registers:registers' %}"><button type="button" class="btn btn-primary" ><i class="fa fa-fw fa-angle-double-left "></i> Regresar</button></a>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
              <p for="{{form.sub_category.id_for_label}}"><b>{{form.sub_category.label}}</b></p>
              {{form.sub_category}}
              <p for="{{form.description.id_for_label}}"><b>{{form.description.label}}</b></p>
              {{form.description}}
              <div class="text-center">
                <input type="submit" class="btn btn-primary btn-block mb-2 mt-2" value="Crear Registro"/>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

