{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registros{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1 style="text-align: center;">Registros</h1>
{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
      <a href="{% url 'registers:create' %}"><button type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus "></i> Crear Registro</button></a>
      <div class="table-responsive-sm">  
        <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">Fecha de Registro</th>
            <th scope="col">Categoría</th>
            <th scope="col">Sub Categoría</th>
            <th scope="col">Descripción</th>
            <th scope="col">QR</th>
            <th scope="col">Descargar QR</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Reportar</th>
          </tr>
        </thead>
        <tbody>
          {% for register in register_list|dictsort:"id" %}
          {% if user == register.user %}
          <tr>
            <td>{{ register.registration_date|date:'d/m/Y'}}</td>
            <td>{{ register.sub_category.category.description}}</td>
            <td>{{ register.sub_category.description}}</td>
            <td>{{ register.description}}</td>
            {% comment %} <td><a href="{% url 'registers:update' register.id %}"><button type="button" class="btn btn-info">Ver QR <i class="fa fa-fw fa-eye"></i></button></td> {% endcomment %}
            <td>{% if register.qr_code %}<img src="{{ register.qr_code.url }}" class="img-fluid">{% endif %}</td>
            <td><a onclick="downloadFile('{{ register.qr_code.url }}');" ><button type="button" class="btn btn-primary" id="btn" title="Descargar QR"><i class="fa fa-fw fa-download"></i></button></a></td>
            <td><a href="{% url 'registers:update' register.id %}"><button type="button" class="btn btn-secondary" title="Editar">Editar <i class="fa fa-fw fa-edit"></i></button></a></td>
            <td><a href="{% url 'registers:delete' register.id %}"><button type="button" class="btn btn-danger" title="Elminar">Eliminar<i class="fa fa-fw fa-trash"></i></button></a></td> 
            <td>{% if register.reported == True %}<input name="reported" type="checkbox" checked="checked" style="transform: scale(2);" readonly="readonly" onclick="javascript: return false;"/>{% else %}<input name="reported" type="checkbox" style="transform: scale(2);" readonly="readonly" onclick="javascript: return false;"/> <a href="{% url 'registers:reported' register.id %}" class="mb-2 mt-2 ml-2"> Ir </a>{% endif %} </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
        </table>
      </div>
    
    <!-- Menú de paginación -->
    {% if is_paginated %}
      <div class="mt-3">
        <ul class="pagination justify-content-center">

          {% if page_obj.has_previous %}
            <li class="page-item">
              <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a href="#" class="page-link">&laquo;</a>
            </li>
          {% endif %}

          {% for i in paginator.page_range %}
              <li class="page-item {% if page_obj.number == i %} active {% endif %}">
                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
              </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a href="#" class="page-link">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

  </div>
</main>

<script>
  function downloadFile(filePath){
    var link=document.createElement('a');
    link.href = filePath;
    link.download = filePath.substr(filePath.lastIndexOf('/') + 1);
    link.click();
  }

</script>

{% endblock %}
