{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Registro{% endblock %}
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
{% block headers %}
    <h1 style="text-align: center;">Registros</h1>
{% endblock %}
{% block content %}
{% comment %} {% include 'registers/includes/register_menu.html'%} {% endcomment %}
<div class="col-11 text-right">
  <a href="{% url 'registers:registers' %}"><button type="button" class="btn btn-primary" ><i class="fa fa-fw fa-angle-double-left "></i> Regresar</button></a>
</div>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style="color:green;"> Se ha actualizado correctamente.
            <a href="{% url 'registers:register' register.id register.description|slugify %}"> Haz clic aqui para ver el resultado. </a>
            </p>
          {% endif %}
            
          <form action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
                <br>
            <input type="submit" class="btn btn-primary btn-block" value="Actualizar" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}